@font-face {
    font-family: 'alex_brushregular';
    src: url('../fonts/alexbrush-regular-webfont.woff2') format('woff2'),
         url('../fonts/alexbrush-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'amontilladoregular';
    src: url('../fonts/amontillado-webfont.woff2') format('woff2'),
         url('../fonts/amontillado-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arvobold';
    src: url('../fonts/arvo-bold-webfont.woff2') format('woff2'),
         url('../fonts/arvo-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'back_to_black_demoregular';
    src: url('../fonts/back_to_black_demo-webfont.woff2') format('woff2'),
         url('../fonts/back_to_black_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('../fonts/brandon_bld-webfont.woff2') format('woff2'),
         url('../fonts/brandon_bld-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('../fonts/brandon_med-webfont.woff2') format('woff2'),
         url('../fonts/brandon_med-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesqueregular';
    src: url('../fonts/brandongrotesque-regular-webfont.woff2') format('woff2'),
         url('../fonts/brandongrotesque-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'haydon_brush_personal_useRg';
    src: url('../fonts/haydonbrush_personal_use-webfont.woff2') format('woff2'),
         url('../fonts/haydonbrush_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}