// COLORS
$white: #fff;
$black: #000;
$grayLight: #838383;
$gray:  #98928e;
$light:  #f2f2f2;
$red: #c4223a;
$main: #ffff43;
// RESPONSIVE GRID
$wide-width: 1367px;
$max-desktop-width: 1366px;
$desktop-width: 960px;
$max-tablet-width: 959px;
$tablet-width: 768px;
$max-mobile-width: 767px;
$mobile-width: 480px;
$mobile-small-width: 320px;


